{
	"extends": "pineglade",
	"ignorePatterns": [
		"**/*.bundle.js"
	],
	"overrides": [
		{
			"files": [
				"*.svelte"
			],
			"processor": "svelte3/svelte3",
			"rules": {
				"one-var": "off",
				"prefer-const": "off"
			}
		},
		{
			"files": "*.model.js",
			"rules": {
				"max-len": "off",
				"max-lines": "off",
				"max-lines-per-function": "off"
			}
		}
	],
	"parserOptions": {
		"requireConfigFile": false
	},
	"plugins": [
		"svelte3"
	],
	"rules": {
		"newline-per-chained-call": "off"
	}
}
